<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1" name="viewport">
  <title>Grids & Circles</title>
  <link href="/webjars/bootstrap/5.3.0/css/bootstrap.min.css" rel="stylesheet">
</head>
<body class="container-fluid">
<h1>Grids & Circles</h1>
<h2>Production Management</h2>
<div class="d-grid gap-2 d-md-flex justify-content-md-end">
  <a class="btn btn-primary me-md-2" th:href="@{/new-product}" type="button">Add Product</a>
</div>
<table class="table table-hover table-striped">
  <thead>
  <tr>
    <th scope="col">productID</th>
    <th scope="col">productName</th>
    <th scope="col">category</th>
    <th scope="col">price</th>
    <th scope="col">description</th>
    <th scope="col">createdAt</th>
    <th scope="col">updatedAt</th>
  </tr>
  </thead>
  <tbody>
  <tr th:each="product: ${products}" th:object="${product}">
    <td th:text="*{productID}"></td>
    <td th:text="*{productName}"></td>
    <td th:text="*{category}"></td>
    <td th:text="*{price}"></td>
    <td th:text="*{description}"></td>
    <td th:text="*{createdAt}"></td>
    <td th:text="*{updatedAt}"></td>
  </tr>
  </tbody>
</table>
<script src="/webjars/bootstrap/5.3.0/js/bootstrap.bundle.min.js"></script>
</body>
</html>
